[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/zsh-pip-completion"]
	path = zsh/zsh-pip-completion
	url = https://github.com/dgladkov/zsh-pip-completion.git
